.mainContainer
  %nav.navBanner
    %ul.navLeft
      %span text
    %ul.navRight
      %span text
  .bgBanner
    .titleBox
      %span Folder Page
    .logoBox
      %img{:alt => "", :src => "http://cdn.dice.com/wp-content/uploads/2013/07/space-thumbnail.jpg"}
  .middleBanner
    %span SIGN UP
  .folderCon
    .folderTopBox
      %img{:alt => "", :src => "#"}/
    .folderBottomBox
      %img{:alt => "", :src => "#"}/
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification
    .form-inputs
      = f.hidden_field :company_id, value: "#{params[:id]}"
      .name= f.input :fname, label: "First Name"
      = f.input :lname, label: "Last Name"
      = f.input :email, required: true, autofocus: true
      = f.input :password, required: true
      = f.input :password_confirmation, required: true
    .form-actions
      = f.button :submit, "Sign up"
    = render "devise/shared/links"
