%h1 Listing folders

%table
  %tr
    %th Title
    %th Description
    %th User
    %th
    %th
    %th

  - @folders.each do |folder|
    %tr
      %td= folder.title
      %td= folder.description
      %td= folder.employee_id
      %td= link_to 'Show', folder
      %td= link_to 'Edit', edit_folder_path(folder)
      %td= link_to 'Destroy', folder, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

