.mainContainer
  %nav.navBanner
    %ul.navLeft
      %span
        =link_to 'HOME', root_path
    %ul.navRight
      Owned By:
      ="#{@folder.employee.fname} #{@folder.employee.lname}"
  .bgBanner
    .titleBox
      .logo=image_tag('logo.png')
  .middleBanner
    %span MY FOLDER
  .folderUpload
    %span
      Title:
      = @folder.title
    %p
      Description:
      = @folder.description
    =simple_form_for(@folder.items.new, url: folder_items_path(@folder), method: 'post') do |f|
      =f.hidden_field :folder_id, value: @folder.id
      .folderTitle= f.input :title, placeholder: 'Insert Title Of File'
      .folderTitle= f.input :record, label: 'Please Select A File'
      = f.button :submit
    -@folder.items.each do |item|
      .folderTopBox
        -unless item.record.url.include?('/records/original/missing.png')
          = link_to image_tag('new-folder-icon.png', class: "tooltp", "data-toggle"=> "tooltip", "data-placement" => "top", title: "#{item.title}"), item.record.url
  .bottomBanner
    %span Busbee 2014
