.mainContainer
  %nav.navBanner
    %ul.navLeft
      %span link
    %ul.navRight
      %span link
  .bgBanner
    .titleBox
      %h1 Busbee
    .logoBox
      %img{:alt => "", :src => "http://cdn.dice.com/wp-content/uploads/2013/07/space-thumbnail.jpg"}
  .middleBanner
    %span FOLDER
  .folderUpload
    %span
      Title:
      = @folder.title
    %p
      Description:
      = @folder.description
    =simple_form_for(@folder.items.new, url: folder_items_path(@folder), method: 'post') do |f|
      =f.hidden_field :folder_id, value: @folder.id
      = f.input :title
      = f.input :record
      = f.button :submit
    -@folder.items.each do |item|
      .folderTopBox
        = link_to item.record.url do
          %i.fa.fa-file-pdf-o.fa-5x
  .bottomBanner
    %span Busbee 2014
