.mainContainer
  %nav.navBanner
    %ul.navLeft
      %li= link_to "Home", root_path
    %ul.navRight
      -if current_employee
        %li= link_to "#{current_employee.fname + current_employee.lname}"
        %li= link_to "Log Out", destroy_employee_session_path, method: :delete
  .bg
    .titleBox
      .logo=image_tag('logo.png')
    .inputBox
      -if current_employee
        .bgLoggedIn
          .employeeList
            =link_to 'View Employees', company_employees_path(current_employee)
          .folderList
            =link_to 'My Folders', employee_folders_path(current_employee)
      -else
        = form_tag session_path(:employee) do
          .comBox
            = text_field_tag 'employee[email]', "Email"
          .passBox
            = password_field_tag 'employee[password]', "Password"
            .remMe
              = check_box_tag 'employee[remember_me]'
              = label_tag 'employee[remember_me]', 'Remember me', class: "passText"
          .tags
          %button.btn.btn-default
            Sign In
    .appBox
      = link_to image_tag('app_store-logo.png'), "http:// www.apple.com/"
  .bottomBanner
    %span Busbee 2014
